.mobile-list.round {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .mobile-list.round li:first-child,
  .mobile-list.round li:first-child a {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .mobile-list.round li:last-child,
  .mobile-list.round li:last-child a {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
.mobile-list li {
  list-style-type: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative; }
  .mobile-list li:first-child {
    border-top: 1px solid #ccc; }
  .mobile-list li a {
    display: block;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px; }
    .mobile-list li a:active, .mobile-list li a:focus {
      background: #eee; }
    .mobile-list li a .mobile-icon {
      float: left;
      display: block;
      position: absolute;
      width: 5%;
      min-width: 45px;
      margin-left: -50px;
      padding-right: 10px; }
      .mobile-list li a .mobile-icon img {
        width: 100%; }
  .mobile-list li .chevron {
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    float: right;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
    border-top: 5px solid #ccc;
    border-right: 5px solid #ccc;
    position: absolute;
    top: 50%;
    right: 5%; }
  .mobile-list li.list-divider {
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px; }
.mobile-list.with-icons li a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 75px;
  padding-right: 30px; }
.mobile-list.with-chevrons li a {
  padding-right: 75px; }
.mobile-list.f-dropdown {
  padding: 0;
  border-left: none;
  border-right: none; }
  .mobile-list.f-dropdown li:first-child {
    border-top: none; }
  .mobile-list.f-dropdown li:last-child {
    border-bottom: none; }
.mobile-list.split-list {
  display: table;
  border-collapse: collapse; }
  .mobile-list.split-list li {
    display: table;
    width: 100%; }
  .mobile-list.split-list li.row, .mobile-list.split-list li > .row {
    display: table-row;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    .mobile-list.split-list li.row > .columns, .mobile-list.split-list li > .row > .columns {
      display: table-cell;
      float: none;
      height: 100%;
      vertical-align: middle;
      border-right: solid 1px #ddd; }
    .mobile-list.split-list li.row > .columns:last-child, .mobile-list.split-list li > .row > .columns:last-child {
      border-right: none; }
  .mobile-list.split-list li.list-divider {
    display: block; }

.no-touch .mobile-list li a:hover {
  background: #eee; }

.fixed-bottom {
  width: 100%;
  left: 0;
  position: fixed;
  bottom: 0;
  z-index: 99; }

.bottom-bar {
  margin-bottom: 0;
  margin-top: 1.875em;
  color: #FFFFFF; }
  .bottom-bar h1, .bottom-bar h2, .bottom-bar h3, .bottom-bar h4, .bottom-bar h5, .bottom-bar h6 {
    color: #FFFFFF; }

.full-screen {
  top: 15px;
  left: 15px;
  margin-left: 0;
  overflow: auto; }

.full-screen-close {
  font-size: 1.375em;
  line-height: 1;
  position: absolute;
  top: 0.5em;
  right: 0.6875em;
  color: #aaaaaa;
  font-weight: bold;
  cursor: pointer; }

.full-screen-close-marker {
  display: none; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

*[data-truncate] {
  cursor: pointer; }

.top-bar.primary {
  margin-bottom: 0; }

#mobile-breadcrumbs, .mobile-breadcrumbs {
  overflow: visible; }

.top-bar.secondary .back-button {
  width: 25%; }
.top-bar.secondary .dropdown-button {
  width: 75%; }
  .top-bar.secondary .dropdown-button li a {
    padding-right: 30px; }

@media only screen and (min-width: 58.75em) {
  .top-bar.secondary .dropdown-button {
    width: inherit; }
  .top-bar.secondary .back-button {
    display: none; } }
[data-collapsible] {
  padding: 0.625em;
  padding-left: 2.9375em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  position: relative; }
  [data-collapsible]:last-child, [data-collapsible].with-bottom {
    border-bottom: 1px solid #ccc; }
  [data-collapsible]:hover {
    cursor: pointer; }
  [data-collapsible] > *:first-child:hover {
    cursor: pointer; }
  [data-collapsible]:before {
    content: "";
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    padding: 0px;
    border-top: 0.25em solid #ccc;
    border-right: 0.25em solid #ccc;
    left: 1em;
    top: 1em;
    margin: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

[data-collapsible].collapsed:before {
  left: 0.875em;
  top: 1.125em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

/* Button Group expand */
.button-group.expand {
  margin: 0 -0.9375em; }

/* Block Grid expand */
[class*="block-grid-"].expand {
  margin: 0 -0.9375em 1.25em; }

[class*="block-grid-"].expand-inner {
  margin: 0 0 1.25em; }

/* Foundation Block Grids for below small breakpoint */
@media only screen {
  .small-block-grid-1.expand > li,
  .small-block-grid-1.expand-inner > li {
    padding: 0; }

  .large-block-grid-1.expand > li,
  .large-block-grid-1.expand-inner > li {
    padding: 0; }

  .small-block-grid-2.expand > li,
  .small-block-grid-2.expand-inner > li {
    padding: 0; }

  .large-block-grid-2.expand > li,
  .large-block-grid-2.expand-inner > li {
    padding: 0; }

  .small-block-grid-3.expand > li,
  .small-block-grid-3.expand-inner > li {
    padding: 0; }

  .large-block-grid-3.expand > li,
  .large-block-grid-3.expand-inner > li {
    padding: 0; }

  .small-block-grid-4.expand > li,
  .small-block-grid-4.expand-inner > li {
    padding: 0; }

  .large-block-grid-4.expand > li,
  .large-block-grid-4.expand-inner > li {
    padding: 0; }

  .small-block-grid-5.expand > li,
  .small-block-grid-5.expand-inner > li {
    padding: 0; }

  .large-block-grid-5.expand > li,
  .large-block-grid-5.expand-inner > li {
    padding: 0; }

  .small-block-grid-6.expand > li,
  .small-block-grid-6.expand-inner > li {
    padding: 0; }

  .large-block-grid-6.expand > li,
  .large-block-grid-6.expand-inner > li {
    padding: 0; }

  .small-block-grid-7.expand > li,
  .small-block-grid-7.expand-inner > li {
    padding: 0; }

  .large-block-grid-7.expand > li,
  .large-block-grid-7.expand-inner > li {
    padding: 0; }

  .small-block-grid-8.expand > li,
  .small-block-grid-8.expand-inner > li {
    padding: 0; }

  .large-block-grid-8.expand > li,
  .large-block-grid-8.expand-inner > li {
    padding: 0; }

  .small-block-grid-9.expand > li,
  .small-block-grid-9.expand-inner > li {
    padding: 0; }

  .large-block-grid-9.expand > li,
  .large-block-grid-9.expand-inner > li {
    padding: 0; }

  .small-block-grid-10.expand > li,
  .small-block-grid-10.expand-inner > li {
    padding: 0; }

  .large-block-grid-10.expand > li,
  .large-block-grid-10.expand-inner > li {
    padding: 0; }

  .small-block-grid-11.expand > li,
  .small-block-grid-11.expand-inner > li {
    padding: 0; }

  .large-block-grid-11.expand > li,
  .large-block-grid-11.expand-inner > li {
    padding: 0; }

  .small-block-grid-12.expand > li,
  .small-block-grid-12.expand-inner > li {
    padding: 0; }

  .large-block-grid-12.expand > li,
  .large-block-grid-12.expand-inner > li {
    padding: 0; } }
/* Mobile-list expand */
.mobile-list.expand {
  margin: 0 -0.9375em; }

[data-collapsible].expand {
  margin-left: -0.9375em;
  margin-right: -0.9375em; }
